* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

header nav {
    background: aqua;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center
}

nav h1{
    color: black;
    font-size: 40px;
    font-weight: 600;
}

 li {
    list-style: none;
 }

 a{
    font-size: 19px;
    text-decoration: none;
    color: black;
 }

 a:hover {
    transition: 0.4s ease;
    color:black;
    filter: drop-shadow(0 1px .8px);
    text-decoration: underline;
 }
nav  ul li {
    padding: 10px ;
    display: inline-block;
    margin-left: 20px;
}

.search {
        display: flex;
        width: 200px;
        position: relative;
}

input {
    position: absolute;
    padding: 15px;
    font-size: 17px;
    justify-content: center;
    width: 200px;
    height: 30px;
    background: transparent;
    border-radius: 20px;
}

.icon {
    margin: 10px;
    font-size: 16px;
    position: relative;
    margin-left: 170px;
}
section {
    display: flex;
    margin-top: 10%;
    margin-left: 1%;
    padding: 30px 20px 10px; 
}

section img{
    margin-right: 40px;
    width: 400px;
    height: auto;
    margin-left: 200px;
    border-radius :50% ;
    box-shadow:  0 0 20px aqua;
    transition: .3s ease-in-out;
}

section img:hover{
    transition: .3s ease-in;
    box-shadow: 0 0 20px blue;
    color: #333;
    scale: 1.1;
}


.conent {
    display: inline-block ;
    margin: 20px;
    padding: 20px;
}

h2 {
    font-size: 50px;
    margin: 10px;
    margin-top: 2px;
}

h3{
    font-size: 30px;
    margin: 10px;
}

span {
    color: gray;
}
span:hover{
    color: aqua;
    scale: 1.1;
}

p {
    font-size: 17px;
    padding: 1px;
    margin-left: 10px
;
}

.icons {
    font-size: 40px;
}
.icons i {
    margin: 20px;
    font-size: 40px;
}

.icons i:hover{
    scale: 1.1;
    filter: drop-shadow(0 0 10px aqua);
    border-radius: 20px;
    color: #333;
    box-shadow: 2px 2px 10px #333;
}

button {
    width: 240px;
    height: 40px;
    color: #fff;
    background: gray;
    border-radius: 20px;
    border: 2px solid aqua;
}

button:hover{
    scale: 1.03;
    color: black;
    background: transparent;
    filter: drop-shadow(0 0 10px yellowgreen);
}

@media screen and (max-width = 600px) {
    .header {
        display: none;
        padding: 20px 10px;
    }

    .section {
        display: none;  
        padding: 30px 20px;
    }
}